
.gridContainer {
  font-family: Lato;
  display: grid;
  grid-template-columns: 66% 34%;
  grid-template-areas:
    'total recent'
    'total recent';
  grid-gap: 10px;
  /* background-color: #2196F3; */
  /* border: 1px solid #2196F3; */
  padding: 10px;
}

.totalizer {
  grid-area: total;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'top';
  grid-gap: 10px;
  /* border: 1px solid peru; */
  /* background-color: #2196F3; */
  padding: 10px;
}


.customerReviews { 
  grid-area: header;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  /* border: 1px solid purple; */
}

.topCostumer { 
  grid-area: top; 
  /* border: 1px solid purple; */
}

.mostRecent { 
  grid-area: recent;
  display: grid;
  grid-template-areas:
  'images'
  'recent'
  'search';
  grid-gap: 10px;
  /* border: 1px solid red; */
  /* background-color:red; */
  padding: 10px;
}
/* .mostRecent > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
} */

.recentReviews { 
  grid-area: recent;
  /* border: 1px solid black; */
}

.recentTitle {
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 15px;
}

.avatarHolder {
  /* border: 1px solid green; */
  cursor: pointer;
}

.avatarImage {
  position: relative;
  top: 1px;
  left: 3px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  /* border: 1px solid blue; */
}

.avatarUsername {
  position: relative;
  font-size: 12px;
  /* border: 1px solid red; */
  left: 13px;
  bottom: 7px;
}

.starHolder {
  /* border: 1px solid red; */
  display: flex;
}

.reactStars {
  /* border: 1px solid blue; */
  /* width: 100px; */
}

.reviewTitle {
  padding-top: 11px;
  padding-left: 4px;
  font-size: 13px;
  font-weight: bolder;
}

.reviewData {
  /* border: 1px solid blueviolet; */
}

.reviewText{
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }

.reviewTime {
  font-size: 12px;
  color: green;
}

.review {
  margin-bottom: 15px;
}