.line {
  width: 99%;
}

.gridContainer {
  width: 99%;
  height: 99%;
  font-family: Lato;
  display: grid;
  grid-template-columns: 66% 34%;
  grid-template-areas:
    'total recent'
    'total recent';
  grid-gap: 10px;
  padding: 10px;
}

.totalizer {
  grid-area: total;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'top';
  grid-gap: 10px;
  padding: 10px;
}

.customerReviews { 
  grid-area: header;
  word-wrap: break-word;
}

.topCostumer { 
  grid-area: top;
}

.mostRecent { 
  grid-area: recent;
  display: grid;
  grid-template-areas:
  'images'
  'recent'
  'search';
  grid-gap: 10px;
  padding: 10px;
}