.customerImages { 
  grid-area: images; 
}

.imagesTitle {
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 15px;
}

.imagesLink {
  font-size: 12px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}