.review {
  margin-bottom: 25px;
}

.avatarHolder {
  cursor: pointer;
}

.avatarImage {
  position: relative;
  top: 1px;
  left: 3px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.avatarUsername {
  position: relative;
  font-size: 12px;
  left: 13px;
  bottom: 7px;
}

.starHolder {
  display: flex;
}

.reactStars {
}

.reviewTitle {
  padding-top: 11px;
  padding-left: 4px;
  font-size: 13px;
  font-weight: bolder;
}

.reviewData {
}

.reviewText{
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }

.reviewTime {
  font-size: 12px;
  color: green;
}

